@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SOFT331 Assignment </h1>
    <p class="lead">Alexander Lea (10343337)</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Coursework Brief</h2>
        <p><a href="https://dle.plymouth.ac.uk/pluginfile.php/258902/mod_resource/content/1/Coursework2014%20V2.pdf">Coursework Brief</a></p>
    </div>
    <div class="col-md-3">
        <h2>Existing Site</h2>
        <p><a href="http://www.talyllyn.co.uk/">Talyllyn's existing site</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Accounts</h2>
        <p>
            <ul>
                <li>
                    Admin:
                    <ul>
                        <li>Username: admin</li>
                        <li>Password: adminadmin</li>
                    </ul>
                </li>
                <li>
                    Clerk:
                    <ul>
                        <li>Username: clerk</li>
                        <li>Password: clerkclerk</li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
    <div class="col-md-3">
        <h2>TODO:</h2>
        <ul>
            <li>Validation summary for not able to book wheelchair</li>
            <li>Allow Advance tickets to be updated</li>
        </ul>
    </div>
</div>