@*@model IEnumerable<SOFT331_Assignment.Models.Journey>*@
@model SOFT331_Assignment.Models.Timetable

@{
    ViewBag.Title = "Timetable for " + @ViewBag.Date;
}

<h2>Timetable for @Model.Date</h2>
<br />
<div>

    <!--Journeys on selected day-->
    @{ Html.RenderPartial("_viewJourneysPartial", Model.Journeys); }

    @Html.ActionLink("Book tickets for " + Model.Date.ToShortDateString(), "Book/" + Model.Date.Year + "/" + Model.Date.Month + "/" + Model.Date.Day, "Tickets")
</div>
